.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 55px;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        display: grid;
        place-content: center;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
    }
} 

.navbar__title {
    margin: 0 auto;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: #0F0F2D;
}

@media (min-width: 768px) {
    .navbar__title {
        margin: 0 auto;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 61px;
        display: flex;
        align-items: center;
        color: var(--purple);
    }
} 

.navbar__btn {
    background-color: var(--purple);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    background: linear-gradient(
        45deg, 
        red, blue, deeppink, blue,
        red, blue, deeppink, blue
    );
    background-size: 800%;
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0, 0;
    }
    50% {
        background-position: 400%, 0;
    }
    100% {
        background-position: 0, 0;
    }
}

.iconBtn_container {
    border: 10px solid var(--purple);
    background-color: var(--purple);
    display: inline-block;
    border-radius: 5px;
    z-index: 2;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}

.iconBtn_container p{
    margin: 0;
    font-size: 18px;
}