body {
    background: #E5E5E5;
}

.cardContainer {
    box-sizing: border-box;
    margin: 20px auto;
    width: 381px;
    height: 300px;
    left: 529px;
    top: 219px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: grid;
    place-content: center;
}

.cardContainer__title {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 10px;
    color: #0F0F2D;
}

.cardContainer__span {
    width: 341px;
    left: 549px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #D3D3D3;
    margin-bottom: 5px;
}

.cardContainer__type {
    list-style: none;
    text-decoration: none;
}

.cardContainer__list {
    padding: 5px;
}

.cardContainer__span2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    align-items: center;
    color: #302F2F;
}

.cardContainer__hr {
    width: 350px;
    height: 0px;
    left: 580px;
    top: 287.5px;
    border: 0.5px solid #E5E5E5;
}

.cardContainer__detalle {
    width: 19px;
    height: 19px;
    left: 550px;
    top: 676px;
}

.cardContainer__footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.cardContainer__btn-edit{
    width: 43px;
    height: 43px;
    left: 848px;
    top: 725px;
    background: #F7F7F7;
    color: #D3D3D3;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    font-size: 30px;
    padding-top: 5px;
    cursor: pointer;
    transition: background 200ms ease;
}

.cardContainer__btn-delete {
    width: 43px;
    height: 43px;
    top: 70px;
    font-size: 30px;
    background: #D85D5D;
    border: 1px solid #D93F3F;
    border-radius: 4px;
    color: white;
    padding-top: 5px;
    cursor: pointer;
    transition: background 200ms ease;
}